<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="welcome/ani_loona31">TODO's APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a *ngIf="this.authentication.isUserLoggedin()" class="nav-link" routerLink="/welcome/anirudh">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a *ngIf="this.authentication.isUserLoggedin()" class="nav-link" routerLink="/todos">todo's</a>
        </li>
        <li class="nav-item dropdown active">
            <a *ngIf="this.authentication.isUserLoggedin()" class="nav-link dropdown" routerLink="/todos" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Add</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a *ngIf="!this.authentication.isUserLoggedin()" class="nav-link" routerLink="/login">login</a></li>
          <li class="nav-item"><a *ngIf="this.authentication.isUserLoggedin()" class="nav-link" routerLink="/logout">logout</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>